<!doctype html>
<html lang="en"ng-app="pmpApp">
<head>
  <title>My AngularJS App</title>
</head>
<body>


<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="js/app.js"></script>
<script src="pages/ItemController.js"></script>


<div ng-controller="ItemListCtrl as main">
  <!--Body content-->
  <p>Item List {{main.message}}</p>
  <table  border="1">
    <thead>
      <th>Item</th>
      <th>Sku</th>
      <th>Price</th>
      <th>Action</th>
    </thead>
    <tr ng-repeat="item in main.items">
      <td>{{item.name}}</td>
      <td>{{item.sku}}</td>
      <td>{{item.price | currency}}</td>
      <td>
        <button ng-click="main.editItem($index)">Edit</button>
        <button ng-click="main.deleteItem($index)">Delete</button>
      </td>
    </tr>
  </table>

  <div>
    <p> Add Item</p>
    <form novalidate name="addForm">
      Item Name:<br>
      <input type="text" ng-model="main.prod.name" required><br>
      Sku<br>
      <input type="text" ng-model="main.prod.sku" required>
      <br>
      Price<br>
      <input type="text" ng-model="main.prod.price" required>
      <br><br>
      <button ng-click="main.addItem()" ng-disabled=addForm.$invalid >Add</button>
    </form>
  </div>

  <div>
    <p> Edit Item</p>
    <form novalidate name="editForm">
      Item Name:<br>
      <input type="text" ng-model="main.editProd.name" required><br>
      Sku<br>
      <input type="text" ng-model="main.editProd.sku" required>
      <br>
      Price<br>
      <input type="text" ng-model="main.editProd.price" required>
      <br><br>
      <button ng-click="main.saveItem()" ng-disabled=editForm.$invalid>Save</button>
    </form>
  </div>
</div>
</body>
</html>
